.ticker-details-container {
  margin: 30px;
}

.ticker-main-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.ticker-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #c6d1d8;
  margin: 4px;
  border: 1px solid #e2e8f0;
}

.ticker-main-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.ticker-description {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #64748b;
  margin-left: 30px;
  margin-top: 30px;
}

.ticker-sentiment-container-wrapper {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticker-sentiment-container {
  font-size: 1.2rem;
  line-height: 1.5;
  color: black;
}

.ticker-sentiment-details {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #64748b;
}

.ticker-sentiment-contexts {
  margin-top: 20px;
}

.comment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}

.ticker-stock-details-container {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  color: #64748b;
}

.ticker-financials-container {
  margin-left: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  color: #64748b;
}
